@import "../../styles/variables";

.app-header {
  height: $headerHeight;
  background-color: $theme-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}
